.loginbox{
	margin-top:50px;
}

.panel-pad{
	padding-top:30px;
}
.login-alert{
	display:none;
}
.margT25{
	margin-bottom: 25px;
}
.margT10{
	margin-top:10px;
}
.margL10{
	padding-left: 25px;
}
.no-acc{
	border-top: 1px solid#888; padding-top:15px; font-size:85%;
}
.signup-box{
	display:none; margin-top:50px;
}


.signin{
	float:right; font-size: 85%; position: relative; top:-10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}
.ex1{


    padding-left: 400px;
  }

  .ex2{


    padding-left: 350px;
  }
