 body{

    background-image: url('images/source4.jpg');
    background-repeat: ;
    background-size: ;
  }

  .ex{

    margin-top: 100px;
  }

 .ex1{


    padding-left: 400px;
  }

  .ex2{


    padding-left: 350px;
  }